*.o
/CuString/*.a
/CuAlloc/*.bak
/CuString/*.depend
/CuString/*.exe
/*.layout
/CuString/*.lib
/CuString/*.lbl
/*.lnk
/*.log
/*.lst
/CuString/*.map
/CuString/*.txt
/CuString/*.prg
/CuAlloc/*.prg
*.bak
*.a
*.depend
*.exe
*.lib
*.lst
*.map
*.layout
*.lbl
*.prg
